<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>this is about page</title>
</head>

<body>


	<section class="banner d-flex justify-content-center align-items-center ">
		<div class="text-center">

			<p>

			<div class="container text-center mt-3">
				<h6>A Contact management software typically allows you to make entries for each of your contacts. This
					can include contact information such as a name, phone number, email address, or company.</p>
			</div>
			<button class="btn bg-primary btn-lg text-white"> <a href="/signin/" class="text-info">back to
					login</a></button>

		</div>
	</section>


</body>

</html>