<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center ">
		<div class="text-center">
			<h2 class="font-weight-bold">Smart Contact Manager</h2>
			<p>
				Contact management is the act of storing, organizing, and tracking information about your customers,
				prospects, and sales leads.
			</p>
			<button class="btn bg-primary btn-lg text-white"> <a href="/signin/" class="text-info">Get
					Start</a></button>

		</div>
	</section>
</body>

</html>